@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@700&display=swap');

:root {
    --font-color: white;
    --main-bg: #1C282E;
    --secondary: #2A363B;
    --light: #99B898;
}

body {
    background-color: var(--main-bg);
    color: var(--font-color);

    width: 100%;
    height: 100%;

    margin: 0;
    padding-top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#all {
    width: 50%;
    padding: 20%;
    margin: 10%;
    border-radius: 50%;

    cursor: pointer;

    background-color: #99B898;
    border: solid white;
    color: white;
}

.singular {
    display: flex;
}

.singular > button {
    margin: 5vw;
    width: 20vw;
    height: 10vw;

    border-radius: 1vh;

    cursor: pointer;

    background-color: white;
    border: solid #99B898;
    color: black;
}

.sliders {
    display: flex;
    margin-top: 5%;
    
}

.sliders > input {
    appearance: none;
    -webkit-appearance: none;
    
    width: 50%;
    height: 2vh;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
}

.sliders > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7vw;
    height: 7vw;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

.sliders > input::-moz-range-thumb {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
